extends ../layout

block content
	.interface.js-interface
		h2.interface--title.js-level-name
		h3.interface--challenge.js-color-current-challenge
		.current-color
			h4.current-color--title Current color
			.current-color--code.js-color-current