$fallback: false;

@import "config";
@import "normalize";
@import "mixins";

// Global
@import "global/utilities";
@import "global/fonts";
@import "global/icons";
@import "global/animations";
@import "global/typography";

// Components - The smallest practical part of a larger layout
@import "components/buttons";
@import "components/forms";
@import "components/logo";


// Regions - Usually made up of a series of components
@import "regions/document";
@import "regions/header";
@import "regions/footer";

@import "shame";